API_BASE_URL="https://omn55vf7dfz3e5g4o7pg6p6te40rfbat.lambda-url.us-east-1.on.aws/api/"
CONNECT_TIMEOUT=100000
SEND_TIMEOUT=1000000
RECEIVE_TIMEOUT=1000000
RECEIVE_DATA_WHEN_STATUS_ERROR=true
SUPABASE_URL=https://rompfibfpruglxdmeyap.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJvbXBmaWJmcHJ1Z2x4ZG1leWFwIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NTQ4NzA5NzEsImV4cCI6MTk3MDQ0Njk3MX0.oCAZFE7AY0SgBybuZLToGy-RTuf8UfQE8nizPN_KwFE
