<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49363471592-tdgtj4llr13ie3pktc6n2p63q6pflcbo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49363471592-tdgtj4llr13ie3pktc6n2p63q6pflcbo</string>
	<key>API_KEY</key>
	<string>AIzaSyBKlJYtua8-b1JfJJcSjIkLMf0H_6ZcoY4</string>
	<key>GCM_SENDER_ID</key>
	<string>49363471592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.louhie.staging</string>
	<key>PROJECT_ID</key>
	<string>louhie-20de5</string>
	<key>STORAGE_BUCKET</key>
	<string>louhie-20de5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49363471592:ios:879e5f8565fbacae924d5d</string>
</dict>
</plist>